* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: white;
}

:root {
  --primary: rgba(255, 255, 255, 0.74);
  --secondary: #405a5ead;
  --dark-secondary: #8cddd9e5;
  --light-secondary: #54cbdb;
}

body {
  background-color: var(--secondary);
}

a {
  text-decoration: none;
  color: inherit;
}
