* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: white;
}

:root {
  --primary: rgba(255, 255, 255, 0.74);
  --secondary: #8ea0a0b0;
  --dark-secondary: #394f5c;
  --light-secondary: #556b7a;
}

body {
  background-color: var(--secondary);
}

a {
  text-decoration: none;
  color: inherit;
}
